.logo_span{
    background: url(logo.png);
    width: 330px;
    height: 194px;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    margin-bottom: 20px;
}
.container{
	text-align: center;
}
.hide{display: none !important;}
.img_container{
	margin-top: 50px
  padding:0px;
}
.input_container{
	margin-top: 30px;
}
.alert{
	margin-top: 30px;
}
#up,#down{display: none !important;}

input{width:80%;margin-left: 10px;padding-left: 15px}

#book_success{
    display: block;
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.6s;
    opacity: 1;
    cursor: default;
}
#book_success.fade{
	opacity: 0;
}
.logo{
    background: url('jesus.png');
    width: 200px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}

.input_container{margin-top: 50px;}

#down{background: url(up.png);
    width: 20px;
    height: 12px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
    position: relative;
    top: 10px;
    transform: rotate(180deg);
    transform: translateX(-125%) rotate(180deg);
}
#up{
	background: url(up.png);
    width: 20px;
    height: 12px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
    position: relative;
    top: -10px;
}
.jumbotron.blue{
	background-color: #81bdf9;
}

.jumbotron{
	margin-top: 50px;
}
.jumbotron .container{
	text-align: initial;
}
.annunci-container{margin-top: 40px; display: none !important;}

label{width:65px;}

.jumbotron span{font-size: 18px;}

#booked_list{display: inline-grid; border-bottom: 2px dotted;}

#booked_list_home{display: inline-grid;}


#availability{
	margin-top: 40px;
}

.switch {
  position: relative;
  display: inline-block;
  height: 34px;
  top: -20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media only screen and (max-width: 767px) {
  .logo_span {
    margin-bottom: 50px;
  }
}